/* You can add global styles to this file, and also import other style files */

* {
    transition: all 0.2s ease-out;
}

input {
    min-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: grey;
    border-bottom: 1px solid;
    width: 300px;
}

input:focus-visible {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #401F71;
    outline: none;
}