.searchComponent {
    display: flex;
    flex-direction: column;
}

.searchForm {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.searchInput {
    display: flex;
    flex-direction: column;
}

.dropdown {
    max-height: 500px;
    position: absolute;
    overflow: scroll;
    background-color: whitesmoke;
    top: 43px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.row {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px 0;
    padding: 5px;
    width: 100%;
}

.row:hover {
    background-color: #824D74;
    color: white;
    cursor: pointer;
}

.result {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 12px auto;
}